[user]
email = newt@hey.com
name = Jon Newton
[alias]
; my own help screen.  filter out the 'h' entry itself with grep -v.
h="!echo 'aliases: ' && git alias | grep -v 'h = ' && echo '\\nAdditional args:\\n-p for patch\\n--stat for file list\\n--graph for branch visual'"
; see also https://coderwall.com/p/euwpig/a-better-git-log
lg="log --oneline --decorate"
; review incoming / outgoing changes
lg-in="!git fetch && git lg ..@{u}"
lg-out="!git fetch && git lg @{u}.."
chk="!git-check.sh"
df="diff"
dfc="diff --cached"
s="status"
cm="commit -m"

[init]
	defaultBranch = main
[pull]
	rebase = false
